/*-----------------------------------------------------------------------------
Arctic Ice - Based on mzingi by Michael Bishop (http://bloggingmeta.com/mzingi)
Version:	1.3
Author:	Richard Cockrum
Email:	rickcockrum@gmail.com
Website:	http://sagrising.cockrumpublishing.com/
-----------------------------------------------------------------------------*/


