/*-----------------------------------------------------------------------------
Arctic Ice - Based on mzingi by Michael Bishop (http://bloggingmeta.com/mzingi)
Version:	1.0
Author:	Richard Cockrum
Email:	rickcockrum@gmail.com
Website:	http://sagrising.cockrumpublishing.com/
-----------------------------------------------------------------------------*/


/* =Resets 
-----------------------------------------------------------------------------*/
/* Remove padding and margin */
* { 
	margin: 0;
	padding: 0;
}

/* Put it back on certain elements */
h1, h2, h3, h4, h5, h6, p, pre, blockquote, form, fieldset, table, ul {
  margin: .5em 0;
}

html {
	font-size: 100%;
}

/* Preset new html5 tags for a block display */
article, aside, footer, header, nav, section {
	display: block;
}

header {
	text-align: left;
}

footer {
	font-size: 0.9em;
	color: #ddd;
}

em {
	font-style: italic;
}

hr {
	margin: 0.5em;
}

strong {
	font-weight: 700;
}

blockquote {
	border: 1px solid #ddd;
	padding: 0.5em 1em;
	font-style: italic;
	background: #F5F5F5;
	clear: both;
	margin: 0.5em;
}

code {
	font: 0.9em "Courier New", Courier, Monospace;
	color: #449;
}

/* =Forms
-----------------------------------------------------------------------------*/

/* Removes fieldset borders. even on Opera 7 */
fieldset {
  border: 1px solid transparent;
}

/* =Tables
-----------------------------------------------------------------------------*/

table { 
  border-spacing: 0;
	border-collapse: collapse;
}

td {
  text-align: left;
	font-weight: normal;
}

.right {
	float: right;
	margin-left: 0.5em;
}

.left {
	float: left;
	margin-right: 0.5em;
}

img.right  {
	padding: 0.3em;
	margin-left: 0.8em;
}

img.left {
	padding: 0.3em;
	margin-right: 0.8em;
}

/* Class for clearing floats */
.clear {
	clear:both;
}

/* define inline elements as block */

.block {
	display: block;
}

/* define block elements as inline */
.inline {
	display: inline;
}

/* Remove border around linked images */
img {
	border: 0;
}

/* =Headings
-----------------------------------------------------------------------------*/

h1, h2, h3, h4, h5, h6 {
	font-family: "Trebuchet MS", Verdana, Arial, sans-serif;
	color: #666;
}

h1 { font-size: 1.8em; }

h2 { font-size: 1.6em; }

h3 { font-size: 1.4em; }

h4 { font-size: 1.3em; }

h5 { font-size: 1.2em; }

h6 { font-size: 1.1em; }


#secondary h2 {
	padding: 0;
	margin: 0;
	font-size: 1.45em;
	font-size: 1.7em;
	font-weight: bold;
	color: #666;
	border-bottom: 1px solid #ccc;
}


/* =Links
-----------------------------------------------------------------------------*/

#content h1 a {
	color:#22b;
	text-decoration: none;
}
#content h1 a:hover {
	color: #b22;
	text-decoration: none;
}

a:link {
	color: #22b;
	text-decoration: none;
}

a:hover {
	text-decoration: none;
	color: #b22;
}

a:active {
	color: #fff;
}

a:visited {
	text-decoration: none;
}

.comment-meta a:visited {
    color: #22b;
}

#siteTitle a {
    color: #ddd;
}

#secondary a {
	text-decoration: none;
	color: #22b;
}

#secondary a:hover {
	text-decoration: none;
	color: #b22;
}

footer a {
	color: #9bf;
}


ul#tidbits a {
	text-decoration: none;

}

/* =Main menu
-----------------------------------------------------------------------------*/

nav {
	width: 100%;
	background: #b7bcb8; /* Old browsers */

	background: -moz-linear-gradient(top,  #b7bcb8 0%, #b7bcb8 6%, #c8ceca 12%, #dae1da 21%, #dae1da 26%, #e4ebe4 32%, #ecf2ee 41%, #eef4f0 53%, #eaf0ec 59%, #eaf0ec 68%, #e4eae6 74%, #d4dad6 82%, #d4dad6 88%, #c2c8c4 97%, #b7bdb9 100%); /* FF3.6+ */

	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#b7bcb8), color-stop(6%,#b7bcb8), color-stop(12%,#c8ceca), color-stop(21%,#dae1da), color-stop(26%,#dae1da), color-stop(32%,#e4ebe4), color-stop(41%,#ecf2ee), color-stop(53%,#eef4f0), color-stop(59%,#eaf0ec), color-stop(68%,#eaf0ec), color-stop(74%,#e4eae6), color-stop(82%,#d4dad6), color-stop(88%,#d4dad6), color-stop(97%,#c2c8c4), color-stop(100%,#b7bdb9)); /* Chrome,Safari4+ */

	background: -webkit-linear-gradient(top,  #b7bcb8 0%,#b7bcb8 6%,#c8ceca 12%,#dae1da 21%,#dae1da 26%,#e4ebe4 32%,#ecf2ee 41%,#eef4f0 53%,#eaf0ec 59%,#eaf0ec 68%,#e4eae6 74%,#d4dad6 82%,#d4dad6 88%,#c2c8c4 97%,#b7bdb9 100%); /* Chrome10+,Safari5.1+ */

	background: -o-linear-gradient(top,  #b7bcb8 0%,#b7bcb8 6%,#c8ceca 12%,#dae1da 21%,#dae1da 26%,#e4ebe4 32%,#ecf2ee 41%,#eef4f0 53%,#eaf0ec 59%,#eaf0ec 68%,#e4eae6 74%,#d4dad6 82%,#d4dad6 88%,#c2c8c4 97%,#b7bdb9 100%); /* Opera 11.10+ */

	background: -ms-linear-gradient(top,  #b7bcb8 0%,#b7bcb8 6%,#c8ceca 12%,#dae1da 21%,#dae1da 26%,#e4ebe4 32%,#ecf2ee 41%,#eef4f0 53%,#eaf0ec 59%,#eaf0ec 68%,#e4eae6 74%,#d4dad6 82%,#d4dad6 88%,#c2c8c4 97%,#b7bdb9 100%); /* IE10+ */

	background: linear-gradient(to bottom,  #b7bcb8 0%,#b7bcb8 6%,#c8ceca 12%,#dae1da 21%,#dae1da 26%,#e4ebe4 32%,#ecf2ee 41%,#eef4f0 53%,#eaf0ec 59%,#eaf0ec 68%,#e4eae6 74%,#d4dad6 82%,#d4dad6 88%,#c2c8c4 97%,#b7bdb9 100%); /* W3C */

	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b7bcb8', endColorstr='#b7bdb9',GradientType=0 ); /* IE6-9 */

	text-transform: uppercase;
	height: 1.7em;
	font-family: Verdana, Arial, sans-serif;
	font-weight: 500;
	padding-top: 0.5em;
}

sitemenu ol{
	float: left;
	padding: 0 0 0.4em 0;

	text-transform: uppercase;
/*	height: 1.4em; */
	font-family: Verdana, Arial, sans-serif;

	background: #b7bcb8; /* Old browsers */

	background: -moz-linear-gradient(top,  #b7bcb8 0%, #b7bcb8 6%, #c8ceca 12%, #dae1da 21%, #dae1da 26%, #e4ebe4 32%, #ecf2ee 41%, #eef4f0 53%, #eaf0ec 59%, #eaf0ec 68%, #e4eae6 74%, #d4dad6 82%, #d4dad6 88%, #c2c8c4 97%, #b7bdb9 100%); /* FF3.6+ */

	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#b7bcb8), color-stop(6%,#b7bcb8), color-stop(12%,#c8ceca), color-stop(21%,#dae1da), color-stop(26%,#dae1da), color-stop(32%,#e4ebe4), color-stop(41%,#ecf2ee), color-stop(53%,#eef4f0), color-stop(59%,#eaf0ec), color-stop(68%,#eaf0ec), color-stop(74%,#e4eae6), color-stop(82%,#d4dad6), color-stop(88%,#d4dad6), color-stop(97%,#c2c8c4), color-stop(100%,#b7bdb9)); /* Chrome,Safari4+ */

	background: -webkit-linear-gradient(top,  #b7bcb8 0%,#b7bcb8 6%,#c8ceca 12%,#dae1da 21%,#dae1da 26%,#e4ebe4 32%,#ecf2ee 41%,#eef4f0 53%,#eaf0ec 59%,#eaf0ec 68%,#e4eae6 74%,#d4dad6 82%,#d4dad6 88%,#c2c8c4 97%,#b7bdb9 100%); /* Chrome10+,Safari5.1+ */

	background: -o-linear-gradient(top,  #b7bcb8 0%,#b7bcb8 6%,#c8ceca 12%,#dae1da 21%,#dae1da 26%,#e4ebe4 32%,#ecf2ee 41%,#eef4f0 53%,#eaf0ec 59%,#eaf0ec 68%,#e4eae6 74%,#d4dad6 82%,#d4dad6 88%,#c2c8c4 97%,#b7bdb9 100%); /* Opera 11.10+ */

	background: -ms-linear-gradient(top,  #b7bcb8 0%,#b7bcb8 6%,#c8ceca 12%,#dae1da 21%,#dae1da 26%,#e4ebe4 32%,#ecf2ee 41%,#eef4f0 53%,#eaf0ec 59%,#eaf0ec 68%,#e4eae6 74%,#d4dad6 82%,#d4dad6 88%,#c2c8c4 97%,#b7bdb9 100%); /* IE10+ */

	background: linear-gradient(to bottom,  #b7bcb8 0%,#b7bcb8 6%,#c8ceca 12%,#dae1da 21%,#dae1da 26%,#e4ebe4 32%,#ecf2ee 41%,#eef4f0 53%,#eaf0ec 59%,#eaf0ec 68%,#e4eae6 74%,#d4dad6 82%,#d4dad6 88%,#c2c8c4 97%,#b7bdb9 100%); /* W3C */

	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b7bcb8', endColorstr='#b7bdb9',GradientType=0 ); /* IE6-9 */

}

.sitemenu ol li{
	display: inline;
	list-style-type: none;
	vertical-align: -30%;
	float: left;
}

.sitemenu ol li a {
	text-decoration: none;
	padding: 0 0.5em;
	color: #229;
}

sitemenu ol li a:hover {
	color: #f22;
	text-decoration: none;
}

.sitemenu ol li.current a,
.sitemenu ol li.current a:hover {
	color: #fff;
	text-decoration: none;
}

.sitemenu li.search {
	padding-right: 2em;
	bottom: 0.5em;
	list-style-type: none;
}
.sitemenu #searchsubmit {
	padding-right: 1em;
}


/* =Masthead
-----------------------------------------------------------------------------*/

#siteTitle{
	font-size: 3.0em;
	font-weight: bold;
	color: #ddd;
	text-decoration: none;
	margin: 0;
}

#siteTagline {
	font-size: 1.75em;
	color: #ccc;
	margin: 0;
}


/* =Primary Content
-----------------------------------------------------------------------------*/

.entry {
	font-size: 1.2em;
	line-height: 1.5;
	text-align: left;
	color: #444;
	clear: both;
	text-align: left;
}

.entry ul {
	padding-left: 2.0em;
}

.entry ul ul{
	list-style-type: square;
}

.entry ul ul, .entry ul ol {
	padding-left: 2.0em;
}

.entry ol {
	padding-left: 2.0em;
}

.entry ol ol, .entry ol ul {
	padding-left: 2.0em;
}

.entry li {
	padding-bottom: 0.4em;
}

.entryMeta {
	clear: both;
	margin:3.0em 0.5em;
	font-size: 0.9em;
	background: #f5f5f5;
	padding: 0.5em;
	color: #444;
}

.pubMeta {
	clear: both;
	text-align: left;
	font-size: 0.9em;
	padding: 0;
	margin: 0;
	border-bottom: 1px solid #22b;

}

.sitemap {
	list-style-type: none;
	padding: 0 5em 2em 5em;
	font-size: 1.1em;
}

.meta {
	clear: both;
	margin: 1em 1em;
	font-size: 0.9em;
	padding: 1.5em 0;
	color: #444;
}

.edit {
	float: left;
	padding-bottom: 1em;
	width: 100%;
}

.commentCount {
	float:  right;
}

.tags {
	float: left;
}

.draft {
	background: #f5f5f5;
}

.scheduled {
	background: #f5f5f5;
}

blockquote.right {
	clear: right;
	float: right;
	background: #f5f5f5;
	font-style: italic;
	padding: 0.4em;
	margin: 0.5em 0 0.5em 0.5em;
	border: 1px solid #ddd;
	width: 15em;
}

blockquote.left {
	clear: left;
	float: left;
	background: #f5f5f5;
	font-style: italic;
	padding: 0.4em;
	margin: 0.5em 0.5em 0.5em 0;
	border: 1px solid #ddd;
	width: 15em;
}

#pagenav {
	text-align: center;
	border: 1px solid #ccc;
	padding: 0.4em;
	background: #F5F5F5;
	margin: 1.0em 0 1.0em 0;
	font-size: 1.1em;
	clear: both;
}

#pagenav a {
	text-decoration: none;
	padding: 0.2em;
}

#pagenav a:hover {
	background: #545454;
	padding: 0.2em;
	color: #fff;
	text-decoration: none;
}

#pagenav a.current-page {
	border: 1px solid #545454;
	color: #545454;
	padding: 0.2em;
}

.postnav {
	clear: both;
	padding-bottom: 2em;
}

.postprev {
	float: right;
}

.postnext {
	float: left;
}

/* =Block Content
-----------------------------------------------------------------------------*/
.block-type-recent_comments ul, .block-type-recent_posts ul, .block-type-tag_archives ul {
	list-style-type: none;
	margin-left: 1em;
	padding-bottom: 1em;
}

.block-type-recent_comments ul, .block-type-recent_posts ul, .block-type-tag_archives li {
	padding-bottom: 0.5em;
}
.block-type-recent_comments ul, .block-type-recent_posts ul, .block-type-tag_archives {
	font-size: 1.1em;
}

/* =Secondary Content
-----------------------------------------------------------------------------*/

ul.rss {
	list-style-type: none;
	padding-bottom: 1em;
}

ul.rss li {
	padding-left: 1.25em;
	background: url('images/feed.png') no-repeat;
}

ul.asides {
	list-style-type: none;
	margin-left: 1em;
	padding-bottom: 1em;
}

ul.moreposts {
	list-style-type: none;
	margin-left: 1em;
	padding-bottom: 1em;
}

ul.moreposts li {
	padding-bottom: 0.5em;
}


ul.recentcomments {
	list-style-type: none;
	margin-left: 1em;
	padding-bottom: 1em;
}

ul.recentcomments li {
	padding-bottom: 0.5em;
}

ul.tags {
	list-style-type: none;
	margin-left: 1em;
	padding-bottom: 1em;
}

ul.tags li {
	padding-bottom: 0.5em;
}


/* =Footer
-----------------------------------------------------------------------------*/

footer p {
	text-align: center;
}


/*Comments-----------------------------------------------------------------------------*/

#comments {
	padding-top: 1.0em;
}

#pings {
	margin: 1.0em 0 2.5em 0;
}

.ping-meta {
	background: #dedff1;
	border: 1px solid #ccc;
	padding: 0.4em;
	margin-bottom: 1.5em;
}

.comment {
	margin-bottom: 1.5em;
}

.comment-unapproved {
	margin-bottom: 1.5em;
}

.comment_content {
	border: 1px solid #ccc;
	padding: 0.4em;
	background: #f5f5f5;
}

.comment-meta { 
	background: #dedff1;
	border: 1px solid #ccc;
	padding: 0.4em;
	color: #444;
}

.comments .error {
	list-style-type: none;
	font-size: 1.1em;
	color: #9a0707;
}

.comments .success {
	list-style-type: none;
	font-size: 1.1em;
}

/* Comment Form */
#respond {
	padding-top: 2em;
}

.commentform {
	padding: 1em;
	border: 1px solid #ccc;
	background: #dedff1;
}

.commentform label {
	float: left;
	width: 20em;
	padding: 0.5em;
	background: transparent;
	display: block;
}

.commentform input[type="text"], .commentform input[type="email"], .commentform input[type="url"], .commentform textarea {
	border-top: 2px solid #999;
	border-left: 2px solid #999;
	border-bottom: 1px solid #ccc;
	border-right: 1px solid #ccc;
	padding: 0.25em;
	max-width: 90%;
}

.commentform #comment_content {
	margin: 1em 0;
	padding: 0;
}

.commentform #submit input {
	width: 10em;
	padding: 0.5em 1em;
	background: #ebf5fc url('images/menubg.jpg');
}

/* style form elements on focus */
.commentform input:focus, .commentform textarea:focus {
	background: #f5f5f5;
}
.commentform #submit input:focus {
	background: #d4ecfb url('images/menubg.jpg');
}

/*Search Form*/

#searchform {
	margin: 0;
	padding: 0 0 0 5em;
	vertical-align: top;
	display: inline;
}
ul.sitemenu {
	float: right;
	vertical-align: middle;
	padding: 0;

	margin: 0;
}

#searchform #search_s input[type="text"]{
	margin: 0;
	padding-top: 1em;
	width: 10em;
	vertical-align: middle;
}

#searchform #searchsubmit input, #searchform #searchsubmit input:focus {
	margin: 0;
	width: 4em;
	background: #ccc url('images/menubg.jpg');
	vertical-align: middle;
}

input[type="text"], input[type="email"], input[type="url"], textarea {
	max-width: 90%;
}

/* =Structure
-----------------------------------------------------------------------------*/

body {
	background: #fff;
	font-family: Verdana, Arial, sans-serif;
	color: #000;
	text-align: center;
}

#branding {
/*	position: relative; */
	margin: 0;
	border-bottom: 1px solid #666;
	padding: 1em 0 0 1em;
	background: #2322ae; /* Old browsers */
	background: -moz-linear-gradient(top,  #2322ae 0%, #f2f3f8 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#2322ae), color-stop(100%,#f2f3f8)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #2322ae 0%,#f2f3f8 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #2322ae 0%,#f2f3f8 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #2322ae 0%,#f2f3f8 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #2322ae 0%,#f2f3f8 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2322ae', endColorstr='#f2f3f8',GradientType=0 ); /* IE6-9 */
	height: 10em;
	font-size: 0.8em;
	width: 100%;
}

#page-footer {
	border-top: 1px solid #666;
	padding: 0.5em 0;
	margin-top: 0.5em;
	background: #2322ae; /* Old browsers */
	background: -moz-linear-gradient(top,  #f2f3f8 0%, #2322ae 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f2f3f8), color-stop(100%,#2322ae)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #f2f3f8 0%,#2322ae 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #f2f3f8 0%,#2322ae 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #f2f3f8 0%,#2322ae 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #f2f3f8 0%,#2322ae 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f3f8', endColorstr='#2322ae',GradientType=0 ); /* IE6-9 */
	clear: both;
	width: 100%;
}

.menu-button {
	-moz-box-shadow:inset 0px 1px 0px -7px #703a35;
	-webkit-box-shadow:inset 0px 1px 0px -7px #703a35;
	box-shadow:inset 0px 1px 0px -7px #703a35;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #fe1a00), color-stop(1, #ce0100) );
	background:-moz-linear-gradient( center top, #fe1a00 5%, #ce0100 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#fe1a00', endColorstr='#ce0100');
	background-color:#fe1a00;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #d83526;
	display:inline-block;
	color:#ffffff;
	font-family:arial;
	font-size:16px;
	font-weight:bold;
	padding:6px 25px;
	text-decoration:none;
	text-shadow:1px 5px 0px #b23e35;
}
.menu-button:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ce0100), color-stop(1, #fe1a00) );
	background:-moz-linear-gradient( center top, #ce0100 5%, #fe1a00 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ce0100', endColorstr='#fe1a00');
	background-color:#ce0100;
}
.menu-button:active {
	position:relative;
	top:1px;
}
/* This imageless css button was generated by CSSButtonGenerator.com */
/*
<a href="#" class="menu-button">Menu</a>
*/


@media screen and (min-width: 40em) {
.menu-button {
	display: none;
}

#wrapper {
	width: 90%;
	margin: 0 auto;
	background: #fff;
	text-align: left;
	font-size: 0.8em;
}


#content {
	float: left;
	width: 50%;
	padding: 4em 5% 0 5%;
	font-family: Georgia, "Times New Roman", Times, serif;
	line-height: 1.5;
	color: #222;
	text-align: left;
}

#secondary {
	float: right;
	width: 30%;
	padding: 8em 0 0.5em 0%;
	color: #222;
}


} /* end min-width: 40em */

@media screen and (max-width: 40em) {

.menu-button {
	float: left;
}

.sitemenu ol{
	display: none;
	width: 100%;
	clear: both;
}

.sitemenu ol li a {
	font-size: 1.1em;
	vertical-align: middle;
}

.sitemenu ol li{
	display: block;
	text-align: center;
	width: 100%;
	height:2em;
	background: #b7bcb8; /* Old browsers */

	background: -moz-linear-gradient(top,  #b7bcb8 0%, #b7bcb8 6%, #c8ceca 12%, #dae1da 21%, #dae1da 26%, #e4ebe4 32%, #ecf2ee 41%, #eef4f0 53%, #eaf0ec 59%, #eaf0ec 68%, #e4eae6 74%, #d4dad6 82%, #d4dad6 88%, #c2c8c4 97%, #b7bdb9 100%); /* FF3.6+ */

	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#b7bcb8), color-stop(6%,#b7bcb8), color-stop(12%,#c8ceca), color-stop(21%,#dae1da), color-stop(26%,#dae1da), color-stop(32%,#e4ebe4), color-stop(41%,#ecf2ee), color-stop(53%,#eef4f0), color-stop(59%,#eaf0ec), color-stop(68%,#eaf0ec), color-stop(74%,#e4eae6), color-stop(82%,#d4dad6), color-stop(88%,#d4dad6), color-stop(97%,#c2c8c4), color-stop(100%,#b7bdb9)); /* Chrome,Safari4+ */

	background: -webkit-linear-gradient(top,  #b7bcb8 0%,#b7bcb8 6%,#c8ceca 12%,#dae1da 21%,#dae1da 26%,#e4ebe4 32%,#ecf2ee 41%,#eef4f0 53%,#eaf0ec 59%,#eaf0ec 68%,#e4eae6 74%,#d4dad6 82%,#d4dad6 88%,#c2c8c4 97%,#b7bdb9 100%); /* Chrome10+,Safari5.1+ */

	background: -o-linear-gradient(top,  #b7bcb8 0%,#b7bcb8 6%,#c8ceca 12%,#dae1da 21%,#dae1da 26%,#e4ebe4 32%,#ecf2ee 41%,#eef4f0 53%,#eaf0ec 59%,#eaf0ec 68%,#e4eae6 74%,#d4dad6 82%,#d4dad6 88%,#c2c8c4 97%,#b7bdb9 100%); /* Opera 11.10+ */

	background: -ms-linear-gradient(top,  #b7bcb8 0%,#b7bcb8 6%,#c8ceca 12%,#dae1da 21%,#dae1da 26%,#e4ebe4 32%,#ecf2ee 41%,#eef4f0 53%,#eaf0ec 59%,#eaf0ec 68%,#e4eae6 74%,#d4dad6 82%,#d4dad6 88%,#c2c8c4 97%,#b7bdb9 100%); /* IE10+ */

	background: linear-gradient(to bottom,  #b7bcb8 0%,#b7bcb8 6%,#c8ceca 12%,#dae1da 21%,#dae1da 26%,#e4ebe4 32%,#ecf2ee 41%,#eef4f0 53%,#eaf0ec 59%,#eaf0ec 68%,#e4eae6 74%,#d4dad6 82%,#d4dad6 88%,#c2c8c4 97%,#b7bdb9 100%); /* W3C */

	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b7bcb8', endColorstr='#b7bdb9',GradientType=0 ); /* IE6-9 */
}

#wrapper {
	width: 90%;
	margin: 0 auto;
	background: #fff;
	text-align: left;
	font-size: 0.8em;
}

#branding {
	height: 6em;
}

#content {
	width: 80%;
	padding: 4em 5% 0 5%;
}

#secondary {
	display: none;
}


#siteTitle{
	font-size: 2.0em;
}

#siteTagline {
	font-size: 1em;
}

.search {
	display: none;
}

.postnext {
	float: left;
}

.postprev {
	float: right;
}

} /* end (max-width: 40em) */

